<div class="container-fluid d-flex justify-content-center vh-100" style="color: black;">
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-5">
        <h1 class="align-items-center">Minhas Publicações</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center m-5">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop">Nova Postagem</button>
    </div>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered text-center container-fluid d-flex">
            <div class="modal-content text-info modal-post border">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="staticBackdropLabel">PUBLICAR NOVA VAGA</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo">Nome da Vaga</label>
                        <input type="text" class="form-control" id="titulo">
                    </div>

                    <div class="form-group">
                        <label for="titulo">Descrição</label>
                        <textarea class="form-control" name="texto" id="texto" rows="8" placeholder="Qual a Melhor noticia que você viu hoje ?"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Voltar</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Postar</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="card mt-3" *ngFor='let item of listVagasUser'>
        <div class="row ml-0 mb-0 mt-0">
          <div class="col-md-2 p-0 h-25 ml-0 rounded bg-user">

            <div class="row mt-2 justify-content-start m-5">
              <p class="p-0">Empresa : </p>
              <p class="card-text text-uppercase user-name border-bottom"><strong>{{item.anunciante.name}}</strong></p>
            </div>
          </div>

          <div class="border-info border-bottom col-md-9 mr-0 mb-2 ml-0 p-0 mt-2">
            <h5 class="card-title text-left text-uppercase mt-2 mb-0 f-title text-info">{{item.titulo}}</h5>

            <p class="col-md-12 card-text text-justify">{{item.descricao}}</p>

            <p class="card-text"><small>{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date:'HH:mm'}}</small></p>
          </div>

          <div class="row justify-content-center">
            <button class="col-md-4 text-info m-2">Editar</button>
            <button class="col-md-4 text-danger m-2" (click)="apagarVaga(item.id)">{{item.id}}Apagar</button>
          </div>

        </div>
    </div>

</div>