<div class="html d-flex pb-5" id="home">
  <div class="container body">
    <div class="container">
      <div class="container justify-content-center mt-5" id="postagens">
        <nav>
          <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-link active text-secondary font-weight-bold" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">FEED</a>
          </div>
        </nav>

        <div class="tab-content mt-5" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="d-flex justify-content-center w-100">
              <input [(ngModel)]="titleVaga" (keyup)="findByTitle()" class="form-control mr-sm-2 w-50 mb-5 rounded-pill" type="search" placeholder="Pesquisar Vagas" aria-label="Search">
            </div>

            <div class="card mt-3" *ngFor='let item of listVaga'>
              <div class="row ml-0 mb-0 mt-0">
                <div class="col-md-2 p-0 h-25 ml-0 rounded bg-user">

                  <div class="row mt-2 justify-content-start m-5">
                    <p class="p-0">Empresa : </p>
                    <p class="card-text text-uppercase user-name border-bottom"><strong>{{item.anunciante.name}}</strong></p>
                  </div>
                </div>

                <div class="border-info border-bottom col-md-9 mr-0 mb-2 ml-0 p-0 mt-2">
                  <h5 class="card-title text-left text-uppercase mt-2 mb-0 f-title text-info">{{item.titulo}}</h5>

                  <p class="col-md-12 card-text text-justify">{{item.descricao}}</p>

                  <p class="card-text"><small>Data do anuncio : {{item.data}}</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#home" id="link-topo">
  <i class="fas fa-arrow-up"></i>
</a>
